<html>
<head>
<link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Articles</h1>
<ul>
<% articles.forEach(article => { %>
<li>
<a href="/articles/<%= article.id %>">
<%= article.title %>
</a>
</li>
<% }) %>
</ul>
</body>
</html>
<html>
<head>
<link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Article</h1>
<p>ID: <%= article.id %></p>
<p>Title: <%= article.title %></p>
<a href="/articles">Back</a>
</body>
</html>
